.section {
  width: 600px;
}

.component {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 16px;
  
}

.group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  
}

.group:last-of-type {
  margin-bottom: 0;
}

.constructor {
  height: 464px;
  overflow-y: scroll;
  
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  width: 33px;
  height: 33px;
  background-image: url(../../images/Subtract.svg);
  background-position: center;
  margin-right: 40px;
}

/* .bun {
  height: 96px;
  width: 536px;
  border: red
} */