.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin: 40px 0 20px;
}

.items {
  width: 600px;
  height: 904px;
  overflow-y: scroll;
}

.link {
  text-decoration: none;
  color: inherit;
}
