@import url(./fonts/fonts.css);

body {
  font-family: "Jet Brains Mono", "Iceland", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-element: #1c1c21;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2f2f37;
}
::-webkit-scrollbar-thumb {
  background: #8585ad;
}
