.ingredients {
  width: 600px;
  height: 716px;
  overflow-y: scroll;
}

.title {
  font-family: "Jet Brains Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

.tab {
  display: flex;
}

.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.subtitle:first-of-type {
  margin-top: 0;
}

.ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 24px;
}

.counter {
  display: none;
}

.a {
  text-decoration: none;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}