.header {
  background: #1c1c21;
}

.nav {
  margin: 0 auto;
  width: 1240px;
  min-height: 88px;
}

.link {
  display: flex;
  cursor: pointer;
  color: #8585ad;
  text-decoration: none;
}

.activeLink {
  color: #f2f2f3;
}

.item {
  padding-left: 49px;
}

.menu {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.li {
  display: flex;
  margin-top: 32px;
}

.burger {
  margin-left: 8px;
}

.logo {
  margin: 19px 300px 12px 128px;

}

.profile {
  
  display: flex;
  margin-top: 32px;
}

.button {
  cursor: pointer;
  background: inherit;
  border: none;
  vertical-align: top;
  padding: 0 0 30px;
}
