.header {
    width: 1240px;
    min-height: 88px;
    
    background: #1C1C21;
}

.item {
padding-left: 49px;
}
.menu {
    display: flex;
    
  
    padding: 0;
    list-style: none;
    margin: 0;
}
.constructor {
    display: flex;
    margin-top: 32px;
   
}

.burger {
    margin-left: 8px;
}

.logo {
    margin: 19px 310px 12px 130px;

} 

.profile {
    display: flex;
    margin-top: 32px;
}